{% extends "layout.html" %}

{% block title %}
    Account settings
{% endblock %}

{% block main %}

    <form action="{{ url_for('account') }}" method="post">

        <h1>Account settings</h1>

        <div class="text2">

                <a href="{{ url_for('delete') }}">
                    <div class="delete">
                        Delete account <b>X</b>
                    </div>
                </a>
                <div class="disclaimer">
                    Warning: Once you click this button, your account will be deleted!
                </div>

        </div>

    </form>



{% endblock %}
