{% extends "layout.html" %}

{% block title %}
    Account settings
{% endblock %}

{% block main %}

    <form action="{{ url_for('account') }}" method="post">




        <div class="text2">
            <div class="text">
                <b>Account settings</b>
            </div>

            <p>
                ‏‏‎
            </p>

            <div class="delete">

                <a href="{{ url_for('delete') }}">Delete account</a>

            </div>
        </div>

    </form>



{% endblock %}