{% extends "layout.html" %}

{% block title %}
    All games
{% endblock %}

{% block main %}
<form action="{{ url_for('allgames') }}" method="post">
    <h1>
        All your games
    </h1>
    <div class="addgames">
        <table width="90%" align="center">
            
            <select class="input2" name="sortgames">
                <option value="rating">User rating</option>
                <option value="alfa">Alphabetic</option>
                <option value="date">Date (added)</option>
            </select>

            <button class="button" type="submit">Sort</button>

            <tr class="titeladdgame">
                <td>    </td>
                <td> Name </td>
                <td> Rating </td>
                <td> Status </td>
                <td> User Rating</td>
            </tr>

            <tr><td></td></tr>

            <tr><td colspan="5" class="nogames"> {{ message }}</td></tr>

            {%for game in games %}

            <tr class="textaddgame">
                <td class="table">{{ game.counter }} </button></td>
                <td class="table1">{{ game.name }}</td>
                <td class="table">{{ game.rating }}</td>
                <td class="table">{{ game.status }}</td>
                <td class="table">{{ game.userrating }}</td>
            </tr>

            <tr><td><br/></td></tr>
            {%endfor%}

        </table>

    </div>
</form>
{% endblock %}
