{% extends "layout.html" %}

{% block title %}
    Completed Games
{% endblock %}

{% block main %}
<form action="{{ url_for('completed') }}" method="post">
    <h1>
        Games you've completed
    </h1>
    <div class="addgames">
        <table width="90%" align="center">
            
            <div align="center">
            <select class="sort" name="sortgames">

                    <option value="rating">User rating</option>

                    <option value="alfa">Alphabetic</option>

                    <option value="date">Date (added)</option>

            </select>
        </div>
        <div align="center">
            <button class="button" type="submit">Sort</button>
        </div>
            <tr class="titeladdgame">
                <td>    </td>
                <td> Name </td>
                <td> Rating </td>
                <td> User Rating</td>
            </tr>

            {%for game in games %}

            <tr class="textaddgame">
                <td class="table">{{ game.counter }} </button></td>
                <td class="table1">{{ game.name }}</td>
                <td class="table">{{ game.rating }}</td>
                <td class="table">{{ game.userrating }}</td>
            </tr>

            <tr><td><br/></td></tr>
            {%endfor%}

        </table>

    </div>
</form>
{% endblock %}
