{% extends "layout.html" %}

{% block title %}
    Dropped Games
{% endblock %}

{% block main %}
<form action="{{ url_for('dropped') }}" method="post">

    <h1>
        Games you've dropped
    </h1>

    <div class="addgames">
        <table width="90%" align="center">
            
            <select class="input2" name="sortgames">
                <option value="rating">User rating</option>
                <option value="alfa">Alphabetic</option>
            </select>

            <button class="button" type="submit">Sort</button>

            <tr class="titeladdgame">
                <td>    </td>
                <td> Name </td>
                <td> Rating </td>
                <td> User Rating</td>
            </tr>

            {%for game in games %}

            <tr class="textaddgame">
                <td class="table">{{ game.counter }} </td>
                <td class="table1">{{ game.name }}</td>
                <td class="table">{{ game.rating }}</td>
                <td class="table">{{ game.userrating }}</td>
            </tr>

            <tr><td><br/></td></tr>
            {%endfor%}

        </table>

    </div>
</form>
{% endblock %}
