{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}

    <form action="{{ url_for('forgotpasw') }}" method="post">
        <div class="text2">
             ‏‏‎
            <div>
                <input autocomplete="off" autofocus class="input1" name="username" placeholder="Username" type="text"/>
            </div>
            <div>
                <input class="input2" name="email" placeholder="E-mail adress" type="e-mail"/>
            </div>
            <div>
                <button class="button" type="submit">Request</button>
            </div>
        </div>


    </form>


{% endblock %}
