{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<form action="{{ url_for('index') }}" method="post">
    <div class="addgames" style="width:50%">
        <table>

            <tr class="titeladdgame">
                <th> Name </th>
                <th> Rating </th>
            </tr>
                {%for game in json %}
                <div class="textaddgame">
                <tr>

                    <td>{{ game.name }}</td>
                    <td>{{ game.rating }}</td>

                </tr>
                </div>
                {%endfor%}

        </table>
    </div>
</form>
{% endblock %}


