{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<form action="{{ url_for('index') }}" method="post">
    <div class="middle">
        <table>
            <tr>
                <th> Name </th>
                <th> Add </th>
            </tr>

            {%for game in json %}
            <tr>
                <th>{{ game }}</th>
                <th> add </th>
            </tr>
            {%endfor%}

            <tr>
                <th> Siege </th>
                <th> add </th>
            </tr>

        </table>
    </div>
</form>
{% endblock %}

