<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>


        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


        <title>In-Matica: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <div class="topnav">
            {% if session.user_id %}
                   <a href="{{ url_for('addgames') }}">Add a game</a>
                   <a href="{{ url_for('allgames') }}">All Games</a>
                   <a href="{{ url_for('completed') }}">Completed</a>
                   <a href="{{ url_for('currently') }}">Current</a>
                   <a href="{{ url_for('onhold') }}">Hold</a>
                   <a href="{{ url_for('dropped') }}">Dropped</a>
                   <a href="{{ url_for('wishlist') }}">Wishlist</a>   
                   <a style="margin-left: 758px" href="{{ url_for('logout') }}">Logout</a>

            {% else %}

                <a href="{{ url_for('register') }}">Register</a></li>
                <a href="{{ url_for('login') }}">Log In</a></li>


            {% endif %}
        </div>




        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-info" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main>
            {% block main %}{% endblock %}
        </main>



    </body>

</html>
