<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>


        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


        <title>In-Matica: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <div class="topnav">
            {% if session.user_id %}
                   <a href="{{ url_for('addgames') }}"><div class="plus">+</div></a>
                   <a href="{{ url_for('allgames') }}"><b>All Games</b></a>
                   <a href="{{ url_for('completed') }}"><b>Completed</b></a>
                   <a href="{{ url_for('currently') }}"><b>Current</b></a>
                   <a href="{{ url_for('onhold') }}"><b>Hold</b></a>
                   <a href="{{ url_for('dropped') }}"><b>Dropped</b></a>
                   <a href="{{ url_for('wishlist') }}"><b>Wishlist</b></a>
                   <a href="{{ url_for('tip') }}"><b>Tip a game</b></a>
                   <a href="{{ url_for('search') }}"><img src = "static/search.png" width="20" height="20"> </a>
                   <a style="float: right" href="{{ url_for('logout') }}">Logout</a>
                   <a style="float: right"href="{{ url_for('account') }}">Account settings</a>

            {% else %}
                <a href="{{ url_for('register') }}">Register</a></li>
                <a href="{{ url_for('login') }}">Log In</a></li>


            {% endif %}
        </div>


        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-info" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main>
            {% block main %}{% endblock %}
        </main>



    </body>

</html>
