{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form action="{{ url_for('register') }}" method="post">
        <div class="text2">
            ‏‏‎
            <div>
                <input autocomplete="off" autofocus class="input1" name="username" placeholder="Register Username" type="text"/>
            </div>
            <div>
                <input class="input2" name="password" placeholder="Password" type="password"/>
            </div>
            <div>
                <input class="input2" name="confirmation" placeholder="Confirm Password" type="password"/>
            </div>
            <div>
            <div>
                <input class="input2" name="email" placeholder="example@email.com" type="text"/>
            </div>
                <button class="button" type="submit">Register</button>
            </div>
        </div>
    </form>
{% endblock %}
