{% extends "layout.html" %}

{% block title %}
    Wishlist
{% endblock %}

{% block main %}
<form action="{{ url_for('wishlist') }}" method="post">

    <div class="addgames">
        <table>

            <tr class="titeladdgame">
                <td>    </td>
                <td> Name </td>
                <td> Rating </td>
                <td> User Rating</td>
            </tr>

            {%for game in games %}

            <tr class="textaddgame">
                <td class="table">{{ game.counter }} </button></td>
                <td class="table">{{ game.name }}</td>
                <td class="table">{{ game.rating }}</td>
                <td class="table">{{ game.userrating }}</td>
            </tr>

            <tr><td><br/></td></tr>
            {%endfor%}

        </table>

    </div>
</form>
{% endblock %}
